.elementor-11 .elementor-element.elementor-element-7bf5e71 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-7bf5e71:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-7bf5e71>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-c499bb5);
}

.elementor-11 .elementor-element.elementor-element-7bf5e71,
.elementor-11 .elementor-element.elementor-element-7bf5e71::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-c52e8a5 {
    --display: flex;
    --justify-content: flex-end;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-c52e8a5.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-88032c5 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-88032c5.elementor-position-right .elementor-image-box-img {
    margin-left: 1px;
}

.elementor-11 .elementor-element.elementor-element-88032c5.elementor-position-left .elementor-image-box-img {
    margin-right: 1px;
}

.elementor-11 .elementor-element.elementor-element-88032c5.elementor-position-top .elementor-image-box-img {
    margin-bottom: 1px;
}

.elementor-11 .elementor-element.elementor-element-88032c5 .elementor-image-box-title {
    margin-bottom: 0px;
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 27px;
    font-weight: 800;
    font-style: normal;
    line-height: 86px;
}

.elementor-11 .elementor-element.elementor-element-88032c5 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}

.elementor-11 .elementor-element.elementor-element-88032c5 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-88032c5 .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 1px;
}

.elementor-11 .elementor-element.elementor-element-88032c5>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-88032c5 {
    width: var( --container-widget-width, 121.649%);
    max-width: 121.649%;
    --container-widget-width: 121.649%;
    --container-widget-flex-grow: 0;
}

.elementor-11 .elementor-element.elementor-element-88032c5.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-25ed8d2 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-25ed8d2.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-36e51c1 .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-11 .elementor-element.elementor-element-36e51c1 .elementor-nav-menu .elementor-item {
    font-family: "addd", Sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}

.elementor-11 .elementor-element.elementor-element-36e51c1 .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-11 .elementor-element.elementor-element-36e51c1 .elementor-nav-menu--main .elementor-item:hover,
.elementor-11 .elementor-element.elementor-element-36e51c1 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-11 .elementor-element.elementor-element-36e51c1 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-11 .elementor-element.elementor-element-36e51c1 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-astglobalcolor7);
    fill: var( --e-global-color-astglobalcolor7);
}

.elementor-11 .elementor-element.elementor-element-36e51c1 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 48px / 2);
    width: var( --container-widget-width, 108.824%);
    max-width: 108.824%;
    --container-widget-width: 108.824%;
    --container-widget-flex-grow: 0;
}

.elementor-11 .elementor-element.elementor-element-36e51c1 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 48px;
}

.elementor-11 .elementor-element.elementor-element-36e51c1.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-df643a5 {
    --display: flex;
    --min-height: 463px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --border-radius: 3px 0px 0px 0px;
    box-shadow: 0px 10px 12px 0px #FFFFFF;
}

.elementor-11 .elementor-element.elementor-element-df643a5:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-df643a5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-c499bb5);
}

.elementor-11 .elementor-element.elementor-element-df643a5,
.elementor-11 .elementor-element.elementor-element-df643a5::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-c75f2c0 {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-f5ea959 {
    --spacer-size: 0px;
}

.elementor-11 .elementor-element.elementor-element-4fafc6f img {
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 10px 13px 0px #0C0B0B;
}

.elementor-11 .elementor-element.elementor-element-028e732 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-028e732 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    word-spacing: 3px;
}

.elementor-11 .elementor-element.elementor-element-3bb2ba5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-56e5645 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-56e5645.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-02a1027 {
    --display: flex;
    --justify-content: flex-end;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-b2d0e3b .elementor-icon-box-title {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.elementor-11 .elementor-element.elementor-element-b2d0e3b .elementor-icon-box-title,
.elementor-11 .elementor-element.elementor-element-b2d0e3b .elementor-icon-box-title a {
    font-family: "addd", Sans-serif;
    font-weight: 600;
}

.elementor-11 .elementor-element.elementor-element-b2d0e3b>.elementor-widget-container {
    background-color: #432222;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.elementor-11 .elementor-element.elementor-element-6cfbc40 {
    --display: flex;
    --justify-content: flex-end;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-ab62665 .elementor-icon-box-title {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.elementor-11 .elementor-element.elementor-element-ab62665 .elementor-icon-box-title,
.elementor-11 .elementor-element.elementor-element-ab62665 .elementor-icon-box-title a {
    font-family: "addd", Sans-serif;
    font-weight: 600;
}

.elementor-11 .elementor-element.elementor-element-ab62665>.elementor-widget-container {
    background-color: #432222;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.elementor-11 .elementor-element.elementor-element-b61f92b {
    --display: flex;
    --justify-content: flex-end;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8f465b0 .elementor-icon-box-title {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.elementor-11 .elementor-element.elementor-element-8f465b0 .elementor-icon-box-title,
.elementor-11 .elementor-element.elementor-element-8f465b0 .elementor-icon-box-title a {
    font-family: "addd", Sans-serif;
    font-weight: 600;
}

.elementor-11 .elementor-element.elementor-element-8f465b0>.elementor-widget-container {
    background-color: #432222;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.elementor-11 .elementor-element.elementor-element-c433222 {
    --display: flex;
    --justify-content: flex-end;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-600c984 .elementor-icon-box-title {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.elementor-11 .elementor-element.elementor-element-600c984 .elementor-icon-box-title,
.elementor-11 .elementor-element.elementor-element-600c984 .elementor-icon-box-title a {
    font-family: "addd", Sans-serif;
    font-weight: 600;
}

.elementor-11 .elementor-element.elementor-element-600c984>.elementor-widget-container {
    background-color: #432222;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}

.elementor-11 .elementor-element.elementor-element-8f912ef {
    --display: flex;
    --min-height: 521px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8f912ef:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-8f912ef>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-c499bb5);
}

.elementor-11 .elementor-element.elementor-element-8f912ef,
.elementor-11 .elementor-element.elementor-element-8f912ef::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-68e2901 {
    --display: flex;
    --min-height: 463px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    border-style: none;
    --border-style: none;
    --border-radius: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-68e2901:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-68e2901>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-c499bb5);
}

.elementor-11 .elementor-element.elementor-element-68e2901,
.elementor-11 .elementor-element.elementor-element-68e2901::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-4fdd9f9 {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-be80519 img {
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #FFFFFF;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 10px 13px 0px #0C0B0B;
}

.elementor-11 .elementor-element.elementor-element-96f1ca2 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-e518f2a {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-e518f2a .elementor-heading-title {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    word-spacing: 3px;
}

.elementor-11 .elementor-element.elementor-element-fbf9267 {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 46px;
}

.elementor-11 .elementor-element.elementor-element-e994136 {
    --display: flex;
    --min-height: 0px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-e994136:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-e994136>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #140f0b;
}

.elementor-11 .elementor-element.elementor-element-e994136,
.elementor-11 .elementor-element.elementor-element-e994136::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-e994136.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-8dbf72d {
    --display: flex;
    --min-height: 0px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8dbf72d:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-8dbf72d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000F42;
}

.elementor-11 .elementor-element.elementor-element-8dbf72d,
.elementor-11 .elementor-element.elementor-element-8dbf72d::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8dbf72d.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-f11af6d {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-762ee2f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-4b3a5dd {
    --display: flex;
    --min-height: 0px;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-4b3a5dd.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-d6a7d20 .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

.elementor-11 .elementor-element.elementor-element-d6a7d20.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-d6a7d20>.elementor-widget-container {
    border-style: none;
}

.elementor-11 .elementor-element.elementor-element-a9ca185 {
    --display: flex;
    --min-height: 41px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-a9ca185:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-a9ca185>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000F42;
}

.elementor-11 .elementor-element.elementor-element-a9ca185,
.elementor-11 .elementor-element.elementor-element-a9ca185::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-266946f {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-266946f .elementor-heading-title {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    word-spacing: 3px;
}

.elementor-11 .elementor-element.elementor-element-8babfc1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-c1cdc37 {
    --display: flex;
    --min-height: 0px;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-c07f5e2>.elementor-widget-container {
    border-radius: 3px 3px 3px 3px;
}

.elementor-11 .elementor-element.elementor-element-5c69d09 {
    --display: flex;
    --min-height: 0px;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-259fe5c .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

.elementor-11 .elementor-element.elementor-element-259fe5c>.elementor-widget-container {
    border-style: none;
}

.elementor-11 .elementor-element.elementor-element-573ce4b {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8f89c1c .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
}

.elementor-11 .elementor-element.elementor-element-8f89c1c>.elementor-widget-container {
    border-style: none;
}

.elementor-11 .elementor-element.elementor-element-46e5b95 {
    --display: flex;
    --min-height: 488px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-46e5b95:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-46e5b95>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-c499bb5);
}

.elementor-11 .elementor-element.elementor-element-46e5b95,
.elementor-11 .elementor-element.elementor-element-46e5b95::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-2ce97b5 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-2ce97b5.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-1da0ff2 {
    --spacer-size: 33px;
}

.elementor-11 .elementor-element.elementor-element-3d454fd {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-3d454fd .elementor-heading-title {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    word-spacing: 3px;
}

.elementor-11 .elementor-element.elementor-element-b933cc2 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-b933cc2 .elementor-image-box-title {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.elementor-11 .elementor-element.elementor-element-b933cc2 .elementor-image-box-description {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-weight: 400;
}

.elementor-11 .elementor-element.elementor-element-3466a09 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-3466a09 .elementor-image-box-title {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.elementor-11 .elementor-element.elementor-element-3466a09 .elementor-image-box-description {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-weight: 400;
}

.elementor-11 .elementor-element.elementor-element-06d1a9a .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-06d1a9a .elementor-image-box-title {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.elementor-11 .elementor-element.elementor-element-06d1a9a .elementor-image-box-description {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-weight: 400;
}

.elementor-11 .elementor-element.elementor-element-7edc363 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-7edc363 .elementor-image-box-title {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.elementor-11 .elementor-element.elementor-element-7edc363 .elementor-image-box-description {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-weight: 400;
}

.elementor-11 .elementor-element.elementor-element-5f78cdf {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-99eaea5 {
    --spacer-size: 70px;
}

.elementor-11 .elementor-element.elementor-element-1ea923b {
    --display: flex;
    --min-height: 157px;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-1ea923b:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-1ea923b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-c499bb5);
}

.elementor-11 .elementor-element.elementor-element-1ea923b,
.elementor-11 .elementor-element.elementor-element-1ea923b::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed.elementor-position-right .elementor-image-box-img {
    margin-left: 0px;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed.elementor-position-left .elementor-image-box-img {
    margin-right: 0px;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed.elementor-position-top .elementor-image-box-img {
    margin-bottom: 0px;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed .elementor-image-box-title {
    margin-bottom: 3px;
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 27px;
    font-weight: 800;
    font-style: normal;
    line-height: 100px;
    letter-spacing: 1.7px;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed .elementor-image-box-wrapper .elementor-image-box-img {
    width: 25%;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed .elementor-image-box-description {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 1px;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed {
    width: var( --container-widget-width, 121.649%);
    max-width: 121.649%;
    --container-widget-width: 121.649%;
    --container-widget-flex-grow: 0;
}

.elementor-11 .elementor-element.elementor-element-e25f5ed.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-6c52f1d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-6c52f1d:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-6c52f1d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-11 .elementor-element.elementor-element-6c52f1d,
.elementor-11 .elementor-element.elementor-element-6c52f1d::before {
    --border-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8e50b1d {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-8e50b1d.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-1513e23 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-11 .elementor-element.elementor-element-1513e23.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-11 .elementor-element.elementor-element-c68b203 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-c68b203 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "addd", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 46px;
}

.elementor-11 .elementor-element.elementor-element-b8365e9 {
    --display: flex;
    --background-transition: 0.3s;
}

@media(max-width:767px) {
    .elementor-11 .elementor-element.elementor-element-c52e8a5 {
        --width: 165px;
    }
    .elementor-11 .elementor-element.elementor-element-88032c5 .elementor-image-box-img {
        margin-bottom: 1px;
    }
    .elementor-11 .elementor-element.elementor-element-88032c5 .elementor-image-box-title {
        line-height: 1.3em;
    }
    .elementor-11 .elementor-element.elementor-element-88032c5 {
        width: var( --container-widget-width, 225px);
        max-width: 225px;
        --container-widget-width: 225px;
        --container-widget-flex-grow: 0;
    }
    .elementor-11 .elementor-element.elementor-element-25ed8d2 {
        --width: 73px;
    }
    .elementor-11 .elementor-element.elementor-element-028e732 .elementor-heading-title {
        font-size: 11px;
    }
    .elementor-11 .elementor-element.elementor-element-b2d0e3b .elementor-icon-box-wrapper {
        text-align: center;
    }
    .elementor-11 .elementor-element.elementor-element-b2d0e3b .elementor-icon-box-title {
        margin-bottom: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-ab62665 .elementor-icon-box-wrapper {
        text-align: center;
    }
    .elementor-11 .elementor-element.elementor-element-ab62665 .elementor-icon-box-title {
        margin-bottom: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-8f465b0 .elementor-icon-box-wrapper {
        text-align: center;
    }
    .elementor-11 .elementor-element.elementor-element-8f465b0 .elementor-icon-box-title {
        margin-bottom: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-600c984 .elementor-icon-box-wrapper {
        text-align: center;
    }
    .elementor-11 .elementor-element.elementor-element-600c984 .elementor-icon-box-title {
        margin-bottom: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-8dbf72d {
        --width: 310px;
        --min-height: 190px;
    }
    .elementor-11 .elementor-element.elementor-element-4b3a5dd {
        --margin-top: -150px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-d6a7d20 {
        width: var( --container-widget-width, 341px);
        max-width: 341px;
        --container-widget-width: 341px;
        --container-widget-flex-grow: 0;
    }
    .elementor-11 .elementor-element.elementor-element-266946f .elementor-heading-title {
        font-size: 25px;
        line-height: 1.5em;
    }
    .elementor-11 .elementor-element.elementor-element-99eaea5 {
        --spacer-size: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-e25f5ed .elementor-image-box-img {
        margin-bottom: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-c68b203 .elementor-heading-title {
        font-size: 13px;
        line-height: 1.2em;
    }
}

@media(min-width:768px) {
    .elementor-11 .elementor-element.elementor-element-c52e8a5 {
        --width: 36.867%;
    }
    .elementor-11 .elementor-element.elementor-element-25ed8d2 {
        --width: 64.071%;
    }
    .elementor-11 .elementor-element.elementor-element-56e5645 {
        --width: 0.962%;
    }
    .elementor-11 .elementor-element.elementor-element-e994136 {
        --width: 99.982%;
    }
    .elementor-11 .elementor-element.elementor-element-4b3a5dd {
        --width: 102.14%;
    }
    .elementor-11 .elementor-element.elementor-element-c1cdc37 {
        --content-width: 500px;
    }
    .elementor-11 .elementor-element.elementor-element-5c69d09 {
        --content-width: 500px;
    }
    .elementor-11 .elementor-element.elementor-element-2ce97b5 {
        --width: 100.81%;
    }
    .elementor-11 .elementor-element.elementor-element-8e50b1d {
        --width: 2.273%;
    }
    .elementor-11 .elementor-element.elementor-element-1513e23 {
        --width: 97.361%;
    }
}

/* Start custom CSS for image-box, class: .elementor-element-88032c5 */

.outlined-text {
    color: white;
    text-shadow: 1px 2px 0 #b6762e, 1px 5px 0 #000, 1px 3px 0 #000, 1px 4px 0 #000;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-028e732 */

.outlined-text {
    color: white;
    text-shadow: 1px 2px 0 #b6762e, 1px 5px 0 #000, 1px 3px 0 #000, 1px 4px 0 #000;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-e518f2a */

.outlined-text {
    color: white;
    text-shadow: 1px 2px 0 #b6762e, 1px 5px 0 #000, 1px 3px 0 #000, 1px 4px 0 #000;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-266946f */

.outlined-text {
    color: white;
    text-shadow: 1px 2px 0 #b6762e, 1px 5px 0 #000, 1px 3px 0 #000, 1px 4px 0 #000;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-3d454fd */

.outlined-text {
    color: white;
    text-shadow: 1px 2px 0 #b6762e, 1px 5px 0 #000, 1px 3px 0 #000, 1px 4px 0 #000;
}

/* End custom CSS */

/* Start custom CSS for image-box, class: .elementor-element-e25f5ed */

.outlined-text {
    color: white;
    text-shadow: 1px 2px 0 #b6762e, 1px 5px 0 #000, 1px 3px 0 #000, 1px 4px 0 #000;
}

/* End custom CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'addd';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url(' /wp-content/uploads/2024/04/AdigianaUI.ttf') format('truetype');
}

/* End Custom Fonts CSS */